<html>
  <head>
    <title>Sites Review</title>
  </head>
  <body>
    <h1>Directory</h1>
    <ul>
      <li>
        <a href="https://certportal-{{.ReviewSlugWithDomain}}">Certportal</a>
      </li>
      <li>
        <a href="https://directory-{{.ReviewSlugWithDomain}}">Directory</a>
      </li>
      <li>
        <a href="https://docs-{{.ReviewSlugWithDomain}}">Docs</a>
      </li>
    </ul>

    <h1>Gemeente Stijns</h1>
    <ul>
      <li>
        <a href="https://nlx-management-gemeente-stijns-{{.ReviewSlugWithDomain}}">NLX Management</a>
      </li>
    </ul>

    <h1>Rijksdienst voor Realistische Demo's</h1>
    <ul>
      <li>
        <a href="https://nlx-management-rvrd-{{.ReviewSlugWithDomain}}">NLX Management</a>
      </li>
    </ul>

    <h1>Vergunningsoftware BV</h1>
    <ul>
      <li>
        <a href="https://nlx-management-vgs-bv-{{.ReviewSlugWithDomain}}">NLX Management</a>
      </li>
    </ul>
  </body>
</html>
